.error{
  font-size: 0.6rem;
  color:red;
}

div{
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.field-error,input.ng-invalid.ng-touched,input.ng-invalid.ng-dirty,select.ng-invalid.ng-touched,select.ng-invalid.ng-dirty{
  outline: 0.1rem solid red;
}

